{% extends 'base.html' %}
{% block content %}

<!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-11" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Lupa Password</h1>

        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>

 <style>
     .login_input{

     }
 </style>
    <!-- LOGIN
    ================================================== -->
    <div class="container mb-11">
        <div class="row gx-0">
            <div class="col-md-7 col-xl-4 mx-auto">
                <!-- Login -->
                <h3 class="mb-6">Log In ke Account Tadib kamu!</h3>
                {% include 'components/msg.html' %}
                <!-- Form Login -->
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group mb-5">
                            <label>{{field.label_tag}}</label>
                             <p>{{ form}}</p>

                        </div>


                        <button class="btn btn-block btn-primary" type="submit">
                            KIRIM LINK KONFIRMASI
                        </button>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}