{% extends 'base.html' %}
{% block title %}HomeSchool{% endblock %}
{% load static %}
{% block content %}

<!-- Path: tentang homeschooling -->
<section class="py-6 py-md-12 position-relative" style="background-color: #E8F8FB;">
        <div class="text-center text-capitalize">
            <h1 class="mb-1">Tentang HomeSchooling Tadib</h1>
        </div>
        <br>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-2 mb-6 mb-lg-0">
                    <!-- Image -->
                    <img src="{% static 'assets/img/photos/photo-3.jpg' %}" class="img-fluid rounded-lg" alt="...">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <h3 class="font-size-xxl text-black mb-4">Tadib Sekolahnya Profesional Muslim</h3>
                    <p class="mb-5 me-lg-6 text-black">HomeSchooling Tadib adalah sebuah lembaga pendidikan yang mengadopsi metode homeschooling atau pendidikan di rumah dengan pendekatan Blended Learning. Metode ini menggabungkan penggunaan teknologi digital dan interaksi tatap muka untuk menciptakan pengalaman belajar yang terintegrasi dan beragam.</p>
                    <p class="mb-5 me-lg-6 text-black">Dalam konteks HomeSchooling Tadib, siswa-siswa memperoleh pendidikan di lingkungan rumah mereka sendiri dan komunitas yang dibimbing oleh musyrif. Mereka belajar menggunakan berbagai sumber daya digital seperti platform pembelajaran online, video pembelajaran, dan aplikasi edukatif. Melalui teknologi ini, siswa dapat mengakses berbagai materi pelajaran, tugas, dan sumber belajar lainnya sesuai dengan kurikulum yang telah disusun.</p>
                    <p class="mb-5 me-lg-6 text-black">Dalam hal kurikulum, HomeSchooling Tadib mengikuti standar pendidikan yang telah ditetapkan oleh pemerintah atau lembaga pendidikan yang berwenang. HomeSchooling Tadib memastikan bahwa siswa-siswa mendapatkan materi pelajaran yang komprehensif dan memadai sesuai dengan tingkat perkembangan mereka. Selain itu, lembaga ini juga memberikan evaluasi dan penilaian terhadap prestasi siswa secara berkala.</p>

                </div>

            </div>

        </div>

        <!-- Shape -->
        <div class="d-none d-wd-block shape shape-blur shape-left shape-flip-y-rotate shape-fluid-y svg-shim text-white">
            <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            	<path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
            </svg>

        </div>
</section>

<!-- Jenjang Pendidikan -->

<section class="py-6 py-md-12 position-relative" style="background-color: #E8F8FB;">
    <div class="container">
        <!-- Card -->
        <div class="card border rounded-lg shadow p-2 lift mb-4 mb-xl-6 ">
            <div class="row gx-0 ">
                <div class="col-auto ">
                    <a href="event-single.html" class="rounded-lg d-flex w-100p h-100p place-center bg-tangerine">
                        <div class="w-100 text-center">
                            <h3 class="text-white mb-0 fw-semi-bold font-size-xxl">VISI</h3>
                        </div>
                    </a>
                </div>

                <div class="col">
                    <div class="ms-5 py-2">
                        <h5 class="line-clamp-2 mb-1">Membentuk siswa beriman dan berakhlak mulia yang unggul bidang
                            STEM (Science, Technology, Engineering, Mathematics) serta dilengkapi dengan keterampilan
                            berbisnis yang kompetitif.</h5>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card -->
        <div class="card border rounded-lg shadow p-2 lift mb-4 mb-xl-6 ">
            <div class="row gx-0 ">
                <div class="col-auto ">
                    <a href="event-single.html" class="rounded-lg d-flex w-100p h-100p place-center bg-blue">
                        <div class="w-100 text-center">
                            <h3 class="text-white mb-0 fw-semi-bold font-size-xxl">MISI</h3>
                        </div>
                    </a>
                </div>

                <div class="col ">
                    <div class="ms-5 py-2">
                        <a href="event-single.html" class="mb-2 me-xl-3 d-block">
                            <h5 class="line-clamp-2 mb-1">Dalam Mewujudkan Visi Besar TADIB memiliki misi:</h5>
                        </a>

                        <p class="card-text" style="color:black;">1. Meningkatkan Keimanan dan Akhlak:
                            Menerapkan pendekatan pendidikan yang holistik yang menekankan pada pembentukan
                            karakter berakhlak mulia dan penanaman nilai-nilai keimanan melalui kurikulum dan
                            kegiatan sekolah.</p>
                        <p class="card-text" style="color:black;">2. Penguasaan STEM: Mengembangkan dan
                            melaksanakan kurikulum STEM yang kuat dan inovatif yang menantang siswa untuk unggul
                            dalam bidang sains, teknologi, teknik, dan matematika.</p>
                        <p class="card-text" style="color:black;">3. Integrasi Teknologi: Mengintegrasikan
                            teknologi dalam proses belajar mengajar untuk mempersiapkan siswa dalam menghadapi
                            era digital.</p>
                        <p class="card-text" style="color:black;">4. Keterampilan Berbisnis: Menyediakan peluang
                            bagi siswa untuk belajar dan menerapkan keterampilan berbisnis dan kewirausahaan
                            melalui proyek-proyek praktis dan partisipasi dalam program-program berorientasi
                            bisnis.</p>
                        <p class="card-text" style="color:black;">5. Pembelajaran Berbasis Komunitas: Membangun
                            komunitas belajar yang kuat dan mendukung di mana setiap siswa merasa dihargai,
                            didukung, dan diinspirasi untuk mencapai potensi penuh mereka.</p>
                        <p class="card-text" style="color:black;">6. Kemitraan dengan Industri: Membentuk
                            kemitraan dengan industri lokal dan perusahaan teknologi untuk memberikan siswa
                            pengalaman praktis dan eksposur ke dunia kerja.</p>
                        <p class="card-text" style="color:black;">7. Pengembangan Profesional Guru: Berinvestasi dalam
                            pengembangan profesional guru untuk memastikan mereka memiliki keterampilan dan pengetahuan
                            terkini dalam bidang mereka.</p>

                    </div>

                </div>
            </div>


            <!-- Card -->
            <div class="card border rounded-lg shadow p-2 lift mb-4 mb-xl-6 ">
                <div class="row gx-0 ">
                    <div class="col-auto ">
                        <a class="rounded-lg d-flex w-100p h-100p place-center bg-gray-800"
                           href="{% url 'pelajaran:home_school_sma' %}">
                            <div class="w-100 text-center">
                                <h3 class="text-white mb-0 fw-semi-bold font-size-xxl">TUJUAN</h3>
                            </div>
                        </a>
                    </div>

                    <div class="col ">
                        <div class="ms-5 py-2">
                            <a href="" class="mb-2 me-xl-3 d-block"><h5
                                    class="line-clamp-2 mb-1">Dalam Menjalankan Visi Misi HS Tadib Memiliki Tujuan
                                Sebagai Berikut:</h5></a>
                            <p class="card-text" style="color:black;">1. Memupuk nilai-nilai keagamaan dan etika dalam
                                setiap individu sehingga mereka tumbuh menjadi warga yang bertanggung jawab dan berbudi
                                luhur.</p>
                            <p class="card-text" style="color:black;">2. Mempersiapkan siswa dengan pengetahuan dan
                                keterampilan dalam bidang sains, teknologi, teknik, dan matematika, sehingga mereka
                                dapat bersaing di dunia yang semakin bergantung pada STEM.</p>
                            <p class="card-text" style="color:black;">3. Memastikan bahwa setiap siswa menjadi fasih
                                dalam teknologi dan dapat mengadaptasi serta memanfaatkan teknologi dalam proses belajar
                                serta dalam kehidupan sehari-hari.</p>
                            <p class="card-text" style="color:black;">4. Memberikan siswa keterampilan berbisnis dan
                                kewirausahaan yang penting, yang akan membantu mereka menjadi pemimpin dan inovator di
                                masa depan.</p>
                            <p class="card-text" style="color:black;">5. Berkomitmen untuk membangun lingkungan belajar
                                yang mendukung dan berfokus pada komunitas, di mana setiap siswa merasa diterima dan
                                dapat berkembang secara optimal.</p>
                            <p class="card-text" style="color:black;">6. Membangun hubungan kerjasama yang kuat dengan
                                industri dan organisasi profesional untuk membantu siswa mendapatkan pengetahuan praktis
                                dan pengalaman yang relevan dengan dunia kerja</p>
                            <p class="card-text" style="color:black;">7. Berdedikasi untuk meningkatkan kualitas
                                pengajaran melalui pengembangan profesional guru, sehingga siswa mendapatkan pendidikan
                                terbaik dari tenaga pengajar yang terampil dan berpengalaman.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>


</section>

 <!-- Pendaftaran-->
<section class="py-6 py-md-12 position-relative" style="background-color: #34A853;">
     <div class="text-center text-capitalize">
            <h1 class="mb-1">Pendaftaran HomeSchooling </h1>
     </div>
    <br>
     <div class="container text-center">
    <!-- Button Pendaftaran SMA -->
        <a href="" class="btn btn-secondary mb-3 mx-3 text-capitalize">LIHAT HOMESCHOOLING SMA</a>

        <!-- Button Pendaftaran SMP -->
        <a href="link_pendaftaran_SMP" class="btn btn-primary mb-3 mx-3 text-capitalize">LIHAT HOMESCHOOLING SMP</a>

        <!-- Button Pendaftaran SD -->
        <a href="link_pendaftaran_SD" class="btn btn-primary mb-3 mx-3 text-capitalize" style="background-color: darkred;">LIHAT HOMESCHOOLING SD</a>

    </div>
</section>



<!-- program schooling Komunitas-->
<section class="py-6 py-md-12 position-relative" style="background-color: #E8F8FB;">
        <div class="text-center text-capitalize">
            <h1 class="mb-1">HomeSchooling Komunitas</h1>
        </div>
        <br>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-2 mb-6 mb-lg-0">
                    <!-- Image -->
                    <img src="{% static 'assets/img/komunitas.jpg' %}" class="img-fluid rounded-lg" alt="...">
                </div>
                <div class="col-lg-6 order-lg-1">
                    <h3 class="font-size-xxl text-black mb-4">HS Tadib Menerapkan Pembelajaran Bebasis Komunitas</h3>
                    <p class="mb-5 me-lg-6 text-black">HomeSchooling komunitas bisa menjadi alternatif pendidikan yang menarik bagi sejumlah orang. Metode ini menggabungkan kelebihan dari homeschooling tradisional dan pengajaran dalam lingkungan kelas, program ini meliputi</p>
                    <p class="mb-5 me-lg-6 text-black">1. Pembelajaran Sosial: Di homeschooling berbasis komunitas, anak-anak memiliki kesempatan untuk berinteraksi dengan teman-teman sebaya mereka, membangun keterampilan sosial, dan belajar bersama. Ini bisa menjadi solusi bagi kekhawatiran bahwa homeschooling mungkin mengisolasi anak-anak dari lingkungan sosial.</p>
                    <p class="mb-5 me-lg-6 text-black">2. Kurikulum: Homeschooling bisa menawarkan kurikulum yang lebih fleksibel dibandingkan sekolah tradisional. Anda sebagai orangtua dapat menyesuaikan kurikulum dengan kebutuhan dan minat setiap anak.</p>
                    <p class="mb-5 me-lg-6 text-black">3. Sumber Daya dan Dukungan: Dengan model komunitas, orang tua dan pengajar lainnya bisa berbagi sumber daya dan dukungan. Misalnya, jika satu orang tua ahli dalam matematika, mereka bisa mengajar matematika, sementara orang tua lain yang ahli dalam sejarah atau seni bisa mengajar subjek itu. Ini juga dapat membantu mengurangi beban mengajar bagi setiap orang tua.</p>
                    <p class="mb-5 me-lg-6 text-black">4. Kegiatan Ekstrakurikuler: Dalam setting komunitas, anak-anak dapat berpartisipasi dalam kegiatan ekstrakurikuler seperti olahraga, klub seni, atau acara komunitas lainnya.</p>
                    <p class="mb-5 me-lg-6 text-black">5. Pengawasan Regulasi: Anda harus memastikan bahwa model pendidikan yang Anda pilih sesuai dengan hukum dan regulasi setempat. Di beberapa tempat, homeschooling memiliki persyaratan tertentu yang perlu dipatuhi.</p>
                </div>

            </div>

        </div>


</section>

<!-- program home schooling -->
<section class="py-6 py-md-12 position-relative" style="background-color: #a7d6d6;">
    <div class="text-center text-capitalize">
        <h1 class="mb-1">Daftar Jadi Musyrif atau Cabang HomeSchooling Tadib</h1>
    </div>
    <br>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <!-- Image -->
                <img src="{% static 'assets/img/photos/photo-4.jpg' %}" class="img-fluid rounded-lg" alt="...">
            </div>
            <div class="col-lg-6 order-lg-2">
                <h3 class="font-size-xxl text-black mb-4">Prosedur Menjadi Musyrif atau Jadi Cabang</h3>
                <p class="mb-5 me-lg-6 text-black ">Kami HS Tadib membuka kesempatan kepada ikhwan dan akhwat untuk bergabung bersama kami dalam mengembangkan pendidikan dan menyiapkan generasi emas Indonesia. Kami percaya bahwa pendidikan yang berkualitas dan berlandaskan pada nilai-nilai Islam yang kokoh dapat membawa perubahan positif bagi masyarakat dan bangsa.:</p>
                <p class="mb-5 me-lg-6 text-black ">Berikut persyaratan Menjadi Musyrif atau Cabang HS Tadib berikut:</p>
                <p class="mb-5 me-lg-6 text-black ">1. Memiliki Komitmen Tinggi: Pelamar harus menunjukkan komitmen tinggi terhadap visi dan misi HS Tadib. Ini berarti mereka harus memiliki keinginan kuat untuk membantu mengembangkan pendidikan dan menyiapkan generasi emas Indonesia</p>
                <p class="mb-5 me-lg-6 text-black ">2. Pendidikan: Pelamar biasanya diharapkan memiliki latar belakang pendidikan yang relevan. Misalnya, gelar dalam pendidikan, psikologi pendidikan, atau bidang terkait lainnya bisa menjadi persyaratan.</p>
            </div>

             <div class="order-lg-2">
                 <p class="mb-5 me-lg-6 text-black ">3. Pengalaman: Pengalaman dalam bidang pendidikan, khususnya dalam konteks homeschooling atau pendidikan alternatif, dapat menjadi pertimbangan penting. Pengalaman dalam organisasi pendidikan Islam atau komunitas juga bisa menjadi nilai tambah.</p>
                 <p class="mb-5 me-lg-6 text-black ">4. Keahlian Khusus: Keahlian dalam bidang tertentu, seperti STEM atau bisnis, juga bisa menjadi persyaratan, tergantung pada kebutuhan organisasi.</p>
                 <p class="mb-5 me-lh-6 text-black ">5. Akhlak dan Keimanan: Mengingat bahwa HS Tadib berfokus pada pendidikan yang berlandaskan nilai-nilai Islam, pelamar harus menunjukkan akhlak dan keimanan yang baik.</p>
                <h3 class="font-size-xxl text-black mb-4">Untuk Informasi lebih lanjut hubungi kami </h3>
                 <h3 class="font-size-xxl text-black mb-4"> Whatsapp : 082194642561 </h3>
             </div>

        </div>
        <br>
        <br>
    </div>
    <!-- Shape -->
    <div class="d-none d-wd-block shape shape-blur shape-left shape-flip-y-rotate shape-fluid-y svg-shim text-white">
        <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            <path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
        </svg>
    </div>
</section>



 <!-- TESTIMONIAL
    ================================================== -->
<section class="py-8 py-md-11 pb-xl-12 position-relative" style="background-color: #d6d1a7;">
        <div class="container position-relative">
            <div class="position-absolute center my-6">
                <svg width="788" height="636" viewBox="0 0 788 636" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.07">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M437.501 284.409C466.886 353.154 382.991 379.119 349.135 398.273C318.047 415.726 287.172 477.872 260.768 474.68C193.269 466.379 258.426 382.311 211.368 332.509C134.925 251.208 222.014 182.251 277.59 182.251C333.378 182.464 403.432 204.598 437.501 284.409Z" stroke="#090761" stroke-width="2" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M402.581 288.028C414.293 313.78 406.414 332.722 390.657 346.982C374.474 361.667 350.2 370.819 336.36 378.055C312.511 390.825 288.876 438.073 268.86 434.881C218.608 426.58 266.518 364.434 231.171 326.55C173.892 264.829 239.263 212.686 281.423 212.26C323.371 211.835 375.752 228.435 402.581 288.028Z" stroke="#090761" stroke-width="0.8125" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M367.66 291.646C376.39 309.098 374.261 323.145 363.614 334.425C352.755 345.917 334.017 352.941 323.37 358.049C306.549 366.349 290.792 394.868 276.525 395.081C243.947 395.507 274.183 346.556 250.548 320.378C212.646 278.238 256.297 242.908 284.83 242.056C313.362 241.205 347.857 252.485 367.66 291.646Z" stroke="#090761" stroke-width="0.625" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M332.526 295.051C338.488 304.203 341.895 313.355 336.572 321.655C331.248 329.955 317.834 334.85 310.381 337.83C300.799 341.661 292.495 354.218 284.403 355.069C265.665 357.41 282.061 328.466 270.137 314.206C251.399 291.646 273.331 273.13 288.236 271.64C303.354 270.576 320.389 276.322 332.526 295.051Z" stroke="#090761" stroke-width="0.4375" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M309.529 309.31C309.529 314.631 301.864 317.824 297.605 317.824C293.346 317.824 289.727 313.567 289.727 308.246C289.727 302.926 293.134 298.669 297.605 298.669C301.864 298.669 309.529 303.99 309.529 309.31Z" stroke="#090761" stroke-width="0.5" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M443.464 560.238C427.494 589.183 401.09 610.678 369.576 620.469C322.306 635.154 253.529 646.008 194.546 613.871C93.1908 558.322 130.241 523.205 65.0838 453.184C-0.0733874 383.163 -15.4044 347.408 18.4518 251.421C52.3079 155.435 42.5131 208.43 90.8486 102.44C139.184 -3.76205 189.862 -10.1469 243.308 9.43345C307.187 32.8448 464.757 244.611 600.821 82.8598C669.385 1.34591 819.502 149.688 780.961 251.421C742.42 353.154 798.634 480.426 711.758 465.103C624.882 449.779 596.349 463.613 529.062 480.426C489.031 490.429 460.285 529.803 443.464 560.238Z" stroke="#090761" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M133.648 114.784C180.919 38.378 218.82 31.9931 263.962 48.5938C285.681 56.4685 313.788 86.6904 348.07 113.294C404.497 157.137 496.697 184.805 568.242 132.662C657.673 67.3229 733.264 187.572 704.731 273.13C692.381 310.375 705.37 324.847 701.963 358.262C697.704 402.317 681.734 439.988 639.787 444.884C568.242 453.397 543.755 457.866 496.697 472.551C492.864 473.828 488.818 475.105 484.772 476.169C451.981 486.173 427.707 518.31 412.376 543.424C398.109 567.048 375.751 584.713 349.348 593.226C310.381 605.57 255.019 613.658 207.322 588.118C127.473 545.126 151.534 515.969 100.004 460.42C73.6009 432.114 57.418 406.361 48.049 380.396C36.1248 346.769 36.1248 310.588 50.8171 260.573C66.787 206.301 71.8974 195.659 86.5897 173.951C96.8105 159.478 114.697 145.219 133.648 114.784Z" stroke="#090761" stroke-width="0.8594" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M176.447 127.128C219.459 80.5187 247.779 74.1337 284.616 87.542C303.567 94.3526 326.351 116.487 353.606 135.854C400.664 169.269 472.209 201.406 538.005 167.779C588.044 142.239 719.21 106.058 628.289 294.839C616.79 318.888 616.79 346.343 613.383 372.309C609.763 400.402 603.163 418.493 576.333 431.05C542.264 447.012 504.149 449.353 468.803 461.484C433.669 473.403 402.581 496.814 381.287 527.036C368.512 545.127 350.412 559.386 329.119 566.41C298.244 576.626 256.509 581.734 220.311 563.004C200.508 552.789 183.048 540.019 170.911 521.29C142.378 477.447 104.689 438.286 87.8674 387.845C76.369 353.367 73.175 316.122 83.1828 270.363C93.8294 222.476 100.004 202.045 117.252 178.208C130.667 160.117 155.793 149.688 176.447 127.128Z" stroke="#090761" stroke-width="0.7188" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M201.999 140.75C231.597 126.064 265.666 120.531 298.457 128.831C344.025 140.324 380.01 175.654 424.726 189.488C455.814 199.278 491.374 198.852 517.139 218.858C538.006 235.034 548.014 261.637 551.421 287.603C555.254 316.76 551.634 346.769 541.2 374.224C532.257 397.636 517.352 420.196 494.781 431.476C475.404 441.266 452.407 441.479 431.966 449.141C389.379 465.103 364.253 509.797 324.435 532.144C209.665 596.632 126.195 425.091 116.826 336.979C111.077 283.346 117.252 214.815 156.219 174.377C169.42 160.756 184.965 149.263 201.999 140.75Z" stroke="#090761" stroke-width="0.5781" stroke-miterlimit="10"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M357.865 461.484C344.238 472.552 331.888 485.321 317.834 495.963C303.568 506.817 286.959 515.33 269.073 515.969C251.612 516.607 234.578 509.371 220.737 498.73C188.585 473.403 174.744 431.688 164.949 391.889C157.284 361.454 150.896 330.594 149.618 299.095C147.489 245.888 161.755 179.91 217.33 158.627C279.932 134.79 355.523 171.184 408.33 203.534C431.54 217.794 454.111 234.182 470.506 256.103C486.902 277.812 496.697 305.693 492.438 332.722C487.328 364.221 463.905 389.761 438.141 408.49C412.376 427.219 383.204 441.266 358.504 461.272C358.291 461.059 358.078 461.272 357.865 461.484Z" stroke="#090761" stroke-width="0.4375" stroke-miterlimit="10"/>
                </g>
                </svg>

            </div>

            <div class="text-center mb-md-10 mb-5 text-capitalize" data-aos="fade-up">
                <h1 class="mb-1">Apa Yang Dikatakan Siswa Tentang Tadib</h1>

            </div>

            <div class="tab-content text-center mb-md-11 mb-8 w-xl-75 mx-auto" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <p class="mb-0 text-capitalize h4 text-gray-800 fw-normal">“ Saya merasa senang dapat bergabung dengan Tadib. Mereka tidak hanya memberikan pelajaran akademik, tetapi juga membantu kami mengembangkan keterampilan sosial dan kemampuan diri yang berguna untuk masa depan.“</p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <p class="mb-0 text-capitalize h4 text-gray-800 fw-normal">“ Tadib memberikan fleksibilitas yang sangat kami butuhkan. Kami dapat mengatur jadwal belajar sesuai kebutuhan dan keterbatasan kami. Ini sangat membantu bagi mereka yang memiliki tanggung jawab lain, seperti pekerjaan atau keluarga. “</p>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <p class="mb-0 text-capitalize h4 text-gray-800 fw-normal">“ Saya merasa terinspirasi oleh para guru di Tadib. Mereka tidak hanya mengajar, tetapi juga memberikan motivasi dan dorongan kepada kami untuk terus belajar dan meraih impian kami. “</p>
                </div>
            </div>

            <ul class="nav row" id="pills-tab" role="tablist">
                <li class="nav-item col-md-4 mb-4 mb-md-0" role="presentation">
                    <a class="nav-link p-0 active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                        <!-- Card -->
                        <div class="card border p-2 lift rounded-pill">
                            <div class="row gx-0 align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-custom">
                                        <img src="{% static 'assets/img/avatars/avatar-1.jpg' %}" alt="..." class="avatar-img rounded-circle img-fluid">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card-body p-0 ms-5">
                                        <h5 class="mb-0">Miftahuddin</h5>
                                        <span class="text-gray-800">Menejemen Yayasan</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item col-md-4 mb-4 mb-md-0" role="presentation">
                    <a class="nav-link p-0" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                        <!-- Card -->
                        <div class="card border p-2 lift rounded-pill">
                            <div class="row gx-0 align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-custom">
                                        <img src="{% static 'assets/img/avatars/avatar-2.jpg' %}" alt="..." class="avatar-img rounded-circle img-fluid">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card-body p-0 ms-5">
                                        <h5 class="mb-0">Muslimah</h5>
                                        <span class="text-gray-800">Marketing Digital</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item col-md-4 mb-4 mb-md-0" role="presentation">
                    <a class="nav-link p-0" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                        <!-- Card -->
                        <div class="card border p-2 lift rounded-pill">
                            <div class="row gx-0 align-items-center">
                                <div class="col-auto">
                                    <div class="avatar avatar-custom">
                                        <img src="{% static 'assets/img/avatars/avatar-3.jpg' %}" alt="..." class="avatar-img rounded-circle img-fluid">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card-body p-0 ms-5">
                                        <h5 class="mb-0">Fatimah</h5>
                                        <span class="text-gray-800">Front-end Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Shape -->
        <div class="d-none d-wd-block shape shape-blur shape-left shape-flip-y-rotate shape-fluid-y svg-shim text-white">
            <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            	<path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
            </svg>

        </div>
    </section>


{% endblock %}